body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(208, 216, 184, 0.44);
    width: 100%;
    font-family: monospace;
    overflow: scroll;
}
* {
    box-sizing: border-box;
}
.photo-tile-view {
    display: inline-block;
    height: 185px;
    margin: 5px;
    cursor: pointer;
}
.thumbnail {
    display: inline-block;
}
#lightBox {
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
    position: fixed;
    z-index: 99999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.83);
}

#lightBox.light-active {
    width: 100%;
}
.light-box-content {
    position: absolute;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}
.thumb-image {
    opacity: 0.6;
    cursor: pointer;
}
.active,
.thumb-image:hover {
    opacity: 1;
}
img.hover-shadow {
    width: 1s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    
}
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.lightBox-Container {
    text-align: center;
    height: 80%;
    width: 80%;
    margin: auto;
}
#image.image-active {
    width: 100%;
}
#image {
    -webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    -ms-transition: width 1s ease-out;
    -o-transition: width 1s ease-out;
    transition: width 1s ease-out;
    width: 0;
    height: 100%;
    position: relative;
}
.thumbContainer .prev,
.thumbContainer .next {
    display: inline-block;
    cursor: pointer;
    position: static;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.thumbContainer {
    background: black;
}
.photo-tile-view img {
    height: 100%;
    width: auto;
}
#photo-list-container.tile-active {
    opacity: 1;
}
div#photo-list-container {
    -webkit-transition: opacity 2s ease-out;
    -moz-transition: opacity 2s ease-out;
    -ms-transition: opacity 2s ease-out;
    -o-transition: opacity 2s ease-out;
    transition: opacity 2s ease-out;
    opacity: 0;
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: rgba(44, 26, 58, 0.74);
}
div#light-Box-Original-Image-Container {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
}
header#search-header {
    margin: 10px;
    text-align: center;
}
h2 {
    display: inline-block;
}
input#input {
    width: 80%;
    height: 40px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}
